body{
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
h2{
    margin: 0;
    padding: 0 15px;
}
hr{
    margin-top: 0 !important;
}
input{
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 10px;
}
label{
        padding: 3px;
        font-size: 16px;
}
.row{
    max-width: 800px;
    margin-bottom: 0.7%;
}
.subLabel{
    font-size: 13px;
    font-weight: 100;
}
#submit{
    border: 2px solid gray;
    border-radius: 3px;
    padding: 8px;
    height: 35px;
    width: 80px;
    background-color: gray; 
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
}
#submit:hover{
    background-color: white; 
    color: gray;
}
.output{
    display: inline-block;   
    font-size: 16px;
}
